html {
  font-family: sans-serif;
  font-size: 10px;
}

/* Your CSS below here */
p {
  width: 200px;
  height: 100px;
  line-height: 100px;
  font-size: 1.7rem;
  background-color: rgba(104, 5, 245, 0.8);
  color: rgba(104, 5, 245, 0.8);
  text-shadow: 4px 4px 5px black,
               -4px -4px 5px black,
               -4px 4px 5px black,
               4px -4px 5px black;
  text-align: center;
  border-radius: 8px;
  border: solid 1px rgb(82, 0, 204);
  background-image: linear-gradient(to bottom right, rgba(0,0,0,0), rgba(0,0,0,0.5) 30%);
  box-shadow: 3px 3px 3px black,
              inset 5px 5px rgba(255,255,255,0.5),
              inset -5px -5px rgba(0,0,0,0.5);
}
